/**app.wxss**/
@import './assets/fonts.scss';

page {
  background-color: #f7f4f8;
  min-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 16rpx;
}

.img {
  width: 100%;
}
